$white: #ededed;

$red-400: #FF8787;
$red-500: #FF6B6B;
$red-600: #FA5252;
$red-700: #F03E3E;
$red-800: #E03131;

$green-400: #69DB7C;
$green-500: #51CF66;
$green-600: #40C057;
$green-700: #37B24D;
$green-800: #2F9E44;

$blue-400: #4DABF7;
$blue-500: #339AF0;
$blue-600: #228BE6;
$blue-700: #1C7ED6;
$blue-800: #1971C2;

$orange-400: #FFA94D;
$orange-500: #FF922B;
$orange-600: #FD7E14;
$orange-700: #F76707;
$orange-800: #E8590C;

$dark-000: #C9C9C9;
$dark-100: #B8B8B8;
$dark-200: #828282;
$dark-300: #696969;
$dark-400: #424242;
$dark-500: #3B3B3B;
$dark-600: #2E2E2E;
$dark-700: #242424;
$dark-800: #1F1F1F;
$dark-900: #141414;


$primary: $blue-500;
$secondary: $orange-500;
$success-background: $green-500;
$success-primary: $green-700;
$danger-background: $red-500;
$danger-primary: $red-700;
$background: $dark-100;
$background-dark: $dark-600;
$background-amoled: $dark-900;
